<section>
  <div class= "container">
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <div class = "body-image">
            <%= image_tag 'aboutus.jpg' %>
            <span style = "text-align:center; color:brown; font-size:30px; font-family:calibri;"> ABOUT US </span>
          </div>
        </div>
      </div>
  </div>
</section>

<script>
  $(function(){
  $('.about').removeClass('active');
  $('.home').removeClass('active');
  $('.articles').removeClass('active');
  $('.about').addClass('active');
  });
</script>
