<section>
  <div class= "container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <div class = "body-image">
          <%= image_tag 'writingpad.jpg' %>
          <span style = "text-align:center; color:brown; font-size:30px; font-family:calibri;"> WELCOME TO ALPHA BLOG </span>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
